.login {
    width: 85%;
    height: inherit;
    float: right;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    .loginBox {
        margin-top: 30px;
        margin-left: 20px;
        >p {
            img {
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
            span {
                font-size: 30px;
                vertical-align: middle;
            }
        }
        .inputs {
            margin-top: 15px;
            >p:first-child {
                margin-bottom: 10px;
                span:first-child {
                    font-weight: bold;
                }
                span {
                    margin-right: 10px;
                }
            }
            input {
                width: 60%;
                margin: 5px 5px;
                padding: 3px 2px;
            }
            p {
                font-size: 12px;
            }
        }
        .btns {
            margin-top: 15px;
            zoom: 1;
            a {
                margin-right: 10px;
                float: left;
                cursor: pointer;
                img {
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                }
                span {
                    color: #186ab3;
                    font-size: 20px;
                    vertical-align: middle
                }
            }
        }
        .btns:after {
            clear: both;
            content: '.';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
}